/build/*
/release/*
/player/*
/skin/*
!/skin/default/
/practice/*
/screenshot/*
/table/*
/course/*
/favorite/*
songdata.db
songinfo.db
config.json
config_sys.json
beatoraja.jar
beatoraja_log.xml
beatoraja_log.xml.lck
/bin/
b.bat
/*.dll
*.cim
*.db-journal
*.db-wal
*.db-shm
*.nosql/
.vscode/
.idea/
.DS_Store
/.gradle
hs_err_pid*.log
